---
import Header from '../components/Header';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card'
---

<Layout title="Welcome to Astro.">
	<main class="container">
	<Header></Header>
	<section class= "w-full mx-auto py-6">
		<h1 class="flex text-justify opacity-80">I create engaging internet projects and content, drawing from my experience in freelance web development. My work spans across various clients, from individuals and startups to large companies. If you believe I can contribute to your business, please don't hesitate to <a></h1>
	</section>
	<h1>Profesional section</h1>
	<section class = "mx-auto grid grid-cols-1 md:grid-cols-3 gap-4">
		
		<Card title="Marioneta" description="la isla" imgPath="https://yt3.ggpht.com/B_FYfSgRTSfObuCQUtj36CDSJDMGhycRW8E3ndrNwnFBx4RZwjOfxSK-N1MGKRE_34ybZ5u5Sw=s100-w72-h100-c-k-c0x00ffffff-no-nd-rj" alt="foto de marioneta"></Card>
		
		<Card title="Marioneta" description="la isla" imgPath="https://yt3.ggpht.com/B_FYfSgRTSfObuCQUtj36CDSJDMGhycRW8E3ndrNwnFBx4RZwjOfxSK-N1MGKRE_34ybZ5u5Sw=s100-w72-h100-c-k-c0x00ffffff-no-nd-rj" alt="foto de marioneta"></Card>
		
		<Card title="Marioneta" description="la isla" imgPath="https://yt3.ggpht.com/B_FYfSgRTSfObuCQUtj36CDSJDMGhycRW8E3ndrNwnFBx4RZwjOfxSK-N1MGKRE_34ybZ5u5Sw=s100-w72-h100-c-k-c0x00ffffff-no-nd-rj" alt="foto de marioneta"></Card>
	</section>
</main>
</Layout>
