---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
import Timeline from '../components/Timeline.astro'
import Projects from '../components/Projects.astro';
---

<Layout title="Personal Web Pages">
	<main class="container">
	<section class= "w-full mx-auto pt-10 pb-4 ">
		<h1 class="flex text-justify opacity-80">I create engaging internet projects and content, drawing from my experience in freelance web development. My work spans across various clients, from individuals and startups to large companies. If you believe I can contribute to your business, please don't hesitate to <a></h1>
	</section>
	<h1 class="text-2xl mt-6 font-medium lg:text-4xl  text-primary dark:text-white mb-16 ">Profesional section</h1>
	<section class = "mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 ">
		
		<Card title="Marioneta" description="Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos" imgPath="https://imgs.search.brave.com/K2bzYTWwzs1jK-LIjzjfDSF_tBhgNnw1Xql1Q8VZL5Q/rs:fit:500:0:0/g:ce/aHR0cHM6Ly8xMDAw/bG9nb3MubmV0L3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE2LzEx/L05ldy1Hb29nbGUt/TG9nby00OTd4NTAw/LmpwZw" alt="foto de marioneta"></Card>
		
		<Card title="Marioneta" description="Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos " imgPath="https://yt3.ggpht.com/B_FYfSgRTSfObuCQUtj36CDSJDMGhycRW8E3ndrNwnFBx4RZwjOfxSK-N1MGKRE_34ybZ5u5Sw=s100-w72-h100-c-k-c0x00ffffff-no-nd-rj" alt="foto de marioneta"></Card>
		
		<Card title="Marioneta" description="Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias " imgPath="https://imgs.search.brave.com/-eyJk0XDrjKVXlca0_-uBcheBh4XNE2zH7y1yD1iaiE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9jb2xl/bWFuY2J4LmNvbS93/cC1jb250ZW50L3Vw/bG9hZHMvMjAxNS8w/OS9Mb2dvLUdvb2ds/ZS5qcGc" alt="foto de marioneta"></Card>
	</section>

	<section class="pt-10">
		<h1 class="text-2xl mt-6 font-medium lg:text-4xl  text-primary dark:text-white">Experiencia Laboral</h1>
		<Timeline></Timeline>
	</section>

	<section class="pt-10">
		<h1 class="text-2xl mt-6 font-medium lg:text-4xl  text-primary dark:text-white">Experiencia Laboral</h1>
		<Projects></Projects>
	</section>
	
</main>
</Layout>
