---
import RedirectIcon from "./RedirectIcon.astro";
import Link from "./icons/Link.astro";
const { title, description, imgPath, alt } = Astro.props;
---

<div class="border-2 border-gray-700">
  <div class="max-w-full">
    <img class="object-contain h-48 w-96" src={imgPath} alt={alt} />
  </div>
  <div class="py-5 px-5">
    <h1 class="text-2xl font-bold underline text-balance">{title}</h1>
    <h2 class="flex flex-wrap text-justify opacity-80 py-2 text-pretty">
      {description}
    </h2>
    <RedirectIcon href="" target="_self" buttonType="secondary">
      <Link class="size-4" />Access</RedirectIcon
    >
  </div>
</div>
