---
const { title, description, imgPath, alt } = Astro.props
---

<div class="border-2 border-gray-700">
  <div class="max-w-full">
    <img class="object-contain h-48 w-96" src={imgPath} alt={alt} />
  </div>
  <div class="py-5 px-5">
    <h1 class="text-2xl font-bold underline text-balance ">{title}</h1>
    <h2 class="flex flex-wrap text-justify opacity-80 py-2 text-pretty ">
      {description}
    </h2>
    <button class="font-medium text-sm px-4 py-2 text-center text-white bg-white-700 hover:bg-white-800 focus:ring-4 focus:outline-none focus:ring-white-300 dark:bg-white-600 dark:hover:bg-white-700 dark:focus:ring-white-800 bg-zinc-800">
      Access
    </button>
  </div>
</div>