---
import RedirectIcon from "./RedirectIcon.astro";
import ArrowUpIcon from "./icons/ArrowUp.astro";
---

<footer class="flex justify-between items-center container">
  <span>2024. All rights reserved.</span>
  <RedirectIcon href="#header" target="_self">
    <ArrowUpIcon />
  </RedirectIcon>
</footer>
