---
import GithubIcon from "./icons/Github.astro";
import RedirectIcon from "./RedirectIcon.astro";
import LinkedInIcon from "./icons/LinkedIn.astro";
import MailIcon from "./icons/Mail.astro";
import ProjectsIcon from "./icons/Projects.astro";
---

<div class="flex sm:gap-x-5 gap-1">
  <RedirectIcon href="https://github.com">
    <GithubIcon class="size-5 sm:size-6" />
  </RedirectIcon>
  <RedirectIcon href="https://linkedin.com">
    <LinkedInIcon class="size-5 sm:size-6" />
  </RedirectIcon>
  {
    /* Tenemos que linkar esta parte de iconos de la folder con una page de proyectos */
  }
  <RedirectIcon href="">
    <ProjectsIcon class="size-5 sm:size-6" />
  </RedirectIcon>
  <RedirectIcon href="">
    <MailIcon class="size-5 sm:size-6" />
  </RedirectIcon>
</div>
